@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

body{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
a{
    text-decoration: none;
    display: inline;
    color: black;
}

header {
    width: 100%;
    height: 15vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header-icons-container{
    width: 100%;
    height: 8vh;
    display: grid;
    background-color: #C51324;
}
header .header-icons-container .icons{
    width: 30vw;
    height: auto;
    display: flex;
    justify-items:flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 5%;
}

.icon-social{
    width: 35px;
    height: 35px;
    fill: white;
}

nav{
    display: grid;
    grid-template-columns:1fr 1fr;
    height: 90px;
    margin-bottom: 50px;
}

nav .nav-logo-container{
    margin-left: 50px;
}
nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .nav-logo-container img{
    width: 70px;
    height: 70px;
    margin-top: -5px;
}

nav .profile-link a{
    color: black;
    border-bottom: 1px solid black;
}

.home-main{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url('../assets/frontend-4342425_1280.png');
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
    margin-top: 10px;
}

.home-main section{
    display: grid;
    justify-items:center ;
    grid-column: 2;
    height: 350px;
    margin-top: 80px;
}
.home-main-text{
    font-size: 40px;
    font-weight: 700px;
    letter-spacing: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    margin-top: -5px;
}
